.body {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.type {
  display: flex;
  flex-direction: row;
}
.bookType {
  margin: 1rem;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: black;
}
.flex {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  margin: 1rem;
}
.list {
  font-size: 20px;
  border: 1px solid black;
  width: 50vw;
}
